*{
    color: white;
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

  ::placeholder {
    font-size: large;
  }
  body{
    margin:0; 
    background-color:black;
  }
  .header{
    background: linear-gradient(to top,rgba(0,0,0,.8) 0,
    rgba(0,0,0,0) 60%,rgba(0,0,0,.8) 100%),
    url('img/backgrd.jpg')no-repeat;
     background-size: cover;
    border-bottom: 10px solid #333;
  }
  .header img{
    width:200px;
    height:120px;
    margin-left: 30px;
  }
.btn1{
    height: 73px;
    padding-bottom: 9px;
    width: 200px;
    background-color: red;
    border: snow;
  }
.btn2{
    float:right;
    margin-right: 50px;
    background-color: red;
    border: snow;padding: 10px;
    width: 85px;border-radius: 5px;
    font-size: medium;margin-top: 35px;
}
.header select{
    padding: 10px;
    float:right; 
    margin-right:35px; 
    margin-top: 35px;
    background-color: black;
}
.ft1{
    text-align: center;
    font-size: x-large;
    color: aliceblue;
    margin-bottom: 90px;
}
.ft2{
    margin-bottom:150px;
    height: fit-content;
}
.header input{
    height: 68px; 
    width: 500px; 
    margin-left: 400px;
}

button{
    font-size: x-large;
    
  }
  .header h1{
    font-size: 70px;
    padding-top: 80px;
  }
.headr{
    text-align: center;
}
.sec1{
    border-bottom: 10px solid #333;
    height: 500px;
}
.sec1 img{
    float: right;
}
.seca{
    padding-top: 90px;
    padding-left: 190px;
}
.seca h1{
    font-size: 60px;
}
.seca p{
    font-size: 30px;
}
.sec2{
    border-bottom: 10px solid #333;
    height: 500px;
}
.sec2 img{
    float: left;
}
.sec2a{
    float: right;
    padding-top: 90px;
    padding-right: 150px;
}
.sec2a h1{
    font-size: 60px;
}
.sec2a p{
    font-size: 30px;
}
.sec3{
    border-bottom: 10px solid #333;
    height: 550px;
}
.sec3a{
    float: left; 
    padding-left: 200px;
    padding-top: 120px;
}
.sec3a h1{
    font-size: 60px;
}
.sec3a p{
    font-size: 30px;
}
.sec3 img{
    float: right;
}
.sec4{
    border-bottom: 10px solid #333;
    height: 500px;
}
.sec4a{
    float: right;
    margin-right: 80px;
}
.sec4a h1{
    font-size: 60px;
}
.sec4a p{
    font-size: 30px;
}
.sec4 img{
    float: left;
}
.inpt input{
    height: 68px; 
    width: 600px;
}
.inpt button{
    height: 74px;
    padding-bottom: 9px; 
    width: 200px; background-color: red; 
    border: snow;
}
.qn{
    display: flex;
    flex-direction: column;
    align-items: center;    
    padding: 40px;
    padding-bottom: 95px;
    border-bottom: 10px solid rgb(44, 42, 42);
    
}
.qn p{
    font-size: 25px;
}

.list{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.list h1{
color: #f4f4f4;
font-size: 3rem;
padding-top: 40px;

}
.tittle{
    background: #303030;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f4f4f4;
    font-size: 1.7rem;
    font-weight: 400;
    text-decoration: none;
    
}
.icon{
    width: 20px;
    position: relative;
}
.icon::before, .icon::after{
    content: "";
    position: absolute;
    width: 20px;
    height: 3px;
    background: #fff;
    top: -1.5px;
}
.icon::after{
transform: rotate(90deg);
transition: 0.5s linear;

}
.text{
    background: #303030;
    line-height: 35px;
    margin: 3px 0;
    color: #f4f4f4;
    font-size: 1.7rem;
    font-weight: 400;
    height: 0;
    opacity: 0;
}
.item{
    padding-bottom: 2px;
}
.item:target .text{
    opacity: 1;
    height: auto;
    padding: 20px 30px;
    margin: 0;
    border-top: 2px solid #000;
    margin-bottom: 6px;
}
.item:target .icon::after{
    transform: rotateY(90deg);

    }

.footer{
    max-width: 50%;
    margin-bottom: 80px;
    padding-left: 25%;
}

.footer a{
    color: #6b6a6a;
    font-size: 0.9rem;
    text-decoration: none;
    
}

.footer p{
    font-size: large;
    margin-top: 80px;
    margin-bottom: 50px;
    color: #6b6a6a;
}

.footer .footer-cols{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
}

.footer li{
    line-height: 2.4;
    list-style: none;
    
}


